/// <reference path="../_base/_text-styles.scss" />
h1 {
  @include heading-h1;
}

h2 {
  @include heading-h2;
}

h3 {
  @include heading-h3;
}

h4 {
  @include heading-h4;
}

h5 {
  @include heading-h5;
}

h6 {
  @include heading-h6;
}

body {
  @include text(false);
}

p, .field,
date, address, time, ul, li, ol {
  @include text;
}

li, ol {
  margin: unset;
}

.bold {
  font-weight: bold;
}

/*p, address {
  &:last-child {
    margin-bottom: 0;
  }
}*/


body:not(div.wowhead-tooltip) a:not(.button, .q0, .q1, .q2, .q3, .q4, .q5, .q6) {
  @include text-link;
  text-decoration: none;
  outline: 0;
}

.q0, .q1, .q2, .q3, .q4, .q5, .q6 {
  text-decoration: none;
  outline: none;
}

.text {
  &--info {
    color: $infoColor;
  }

  &--warning {
    color: $warningColor;
  }

  &--danger {
    color: $dangerColor;
  }

  &--success {
    color: $successColor;
  }
}