<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WoW Guild Tools</title>
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main role="main" class="main">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__list-item">
                    <a class="main-nav__link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="main-nav__icon material-icons">home</i>
                        Home
                    </a>
                </li>
                <li class="main-nav__list-item">
                    <button class="main-nav__link collapsible__trigger collapsible--shown">
                        <i class="main-nav__icon material-icons">build</i>
                        Tools
                        <i class="collapsible__state-indicator material-icons"></i>
                    </button>
                    <ul class="collapsible__list" style="max-height: 96px;">
                        <li class="collapsible__item">
                            <a asp-area="" asp-controller="Roster" asp-action="Index" class="collapsible__link">
                                <i class="collapsible__icon material-icons">inventory</i>
                                Roster
                            </a>
                        </li>
                        <li class="collapsible__item">
                            <a asp-area="" asp-controller="Roster" asp-action="Index" class="collapsible__link">
                                <i class="collapsible__icon material-icons">people</i>
                                Raid Groups
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav__list-item">
                    <a class="main-nav__link" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="main-nav__icon material-icons">policy</i>
                        Privacy
                    </a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
        <section class="main__content">
            <h1 class="main__title">@ViewData["Title"]</h1>
            @RenderBody()
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__list-item">
                &copy; 2021 - WoW Guild Tools
            </li>
            <li class="footer__list-item">
                Created by Martin Høite (Blazzsham - Mirage Raceway EU)
            </li>
            <li class="footer__list-item">
                Curator Tools version: 1.0
            </li>
        </ul>

    </footer>
    @* Jquery is required for select2 and the built in frontend validation from Entity Framework *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
