<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WoW Guild Tools</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main role="main" class="main">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__list-item">
                    <a class="main-nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="main-nav__list-item">
                    <a class="main-nav__link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>
        <section class="main__content">
            @RenderBody()
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__list-item">
                &copy; 2021 - WoW Guild Tools
            </li>
            <li class="footer__list-item">
                Created by Martin Høite (Blazzsham - Mirage Raceway EU)
            </li>
            <li class="footer__list-item">
                Curator Tools version: 1.0
            </li>
        </ul>

    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
