@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="main-nav__list-item">
        <a class="main-nav__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="main-nav__list-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="">
                <i class="main-nav__icon material-icons">logout</i>
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="main-nav__list-item">
        <a class="main-nav__link" asp-area="Identity" asp-page="/Account/Register">
            <i class="main-nav__icon material-icons">person_add</i>
            Register
        </a>
    </li>
    <li class="main-nav__list-item">
        <a class="main-nav__link" asp-area="Identity" asp-page="/Account/Login">
            <i class="main-nav__icon material-icons">login</i>
            Login
        </a>
    </li>
}
