<h4 class="global-buffs__title">Raidwide debuffs</h4>
<section class="global-buffs__class">
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled hunter-border" data-wow-class="hunter" data-wow-spec="survival" src="~/images/RaidDebuffs/34503_expose-weakness.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Your ranged criticals have a 100% chance to apply an Expose Weakness effect to the target. Expose Weakness increases the attack power of all attackers against that target by 25% of your Agility for 7 sec.
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled hunter-border" data-wow-class="hunter" data-wow-spec="survival" src="~/images/RaidDebuffs/19425_improved-hunters-mark.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Causes 100% of your Hunter's Mark ability's base attack power to apply to melee attack power as well.
            <br />
            <span class="text--info">This can be brought by other specs, but is a dps nerf - where it's not a huge difference for the survival hunter.</span>
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled warrior-border" data-wow-class="warrior" data-wow-spec="arms" src="~/images/RaidDebuffs/29859_blood-frenzy.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Your Rend and Deep Wounds abilities also increase all physical damage caused to that target by 4%.
        </span>
    </article>
</section>
<section class="global-buffs__class">
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled warrior-border" data-wow-class="warrior" src="~/images/RaidDebuffs/25225_sunder-armor.jpg" />
        <span class="tooltiptext">
            <span class="warrior-text">[Warrior]</span> Sunders the target's armor, reducing it by 520 per Sunder Armor and causes a high amount of threat.  Can be applied up to 5 times.  Lasts 30 sec.
            <br />
            <span class="text--info">Does not overlap with Expose Armor.</span>
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled warlock-border" data-wow-class="warlock" src="~/images/RaidDebuffs/27228_curse-of-the-elements.jpg" />
        <span class="tooltiptext">
            <span class="warlock-text">[Warlock]</span> Curses the target for 5 min, reducing Arcane, Fire, Frost, and Shadow resistances by 88 and increasing Arcane, Fire,  Frost, and Shadow damage taken by 10%.
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled warlock-border" data-wow-class="warlock" data-wow-spec="affliction" src="~/images/RaidDebuffs/32484_malediction.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Increases the damage bonus effect of your Curse of the Elements spell by an additional 3%.
        </span>
    </article>
</section>
<section class="global-buffs__class">
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled warlock-border" data-wow-class="warlock" src="~/images/RaidDebuffs/27226_curse-of-recklessness.jpg" />
        <span class="tooltiptext">
            <span class="warlock-text">[Warlock]</span> Curses the target with recklessness, increasing melee attack power by 135 but reducing armor by 800 for 2 min.  Cursed enemies will not flee and will ignore Fear and Horror effects.
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled druid-border" data-wow-class="druid" data-wow-spec="feralcombat" src="~/images/RaidDebuffs/33987_mangle-bear.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Mangle the target for 115% normal damage plus 155 and causes the target to take 30% additional damage from Shred and bleed effects for 12 sec.
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled druid-border" data-wow-class="druid" src="~/images/RaidDebuffs/26993_faerie-fire.jpg" />
        <span class="tooltiptext">
            <span class="druid-text">[Druid]</span> Decrease the armor of the target by 610 for 40 sec.  While affected, the target cannot stealth or turn invisible.
        </span>
    </article>
</section>
<section class="global-buffs__class">
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled druid-border" data-wow-class="druid" data-wow-spec="balance" src="~/images/RaidDebuffs/33602_improved-faerie-fire.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Your Faerie Fire spell also increases the chance the target will be hit by melee and ranged attacks by 3%.
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled rogue-border" data-wow-class="rogue" src="~/images/RaidDebuffs/26866_expose-armor.jpg" />
        <span class="tooltiptext">
            <span class="rogue-text">[Rogue]</span> Finishing move that exposes the target for 30 sec, reducing armor by 410 per combo point (up to 2050 at 5)
        </span>
    </article>
    <article class="tooltip tooltip-buff">
        <img class="global-buffs--disabled rogue-border" data-wow-class="rogue" data-wow-spec="combat" src="~/images/RaidDebuffs/14169_improved-expose-armor.jpg" />
        <span class="tooltiptext">
            <span class="text--info">[Talent]</span> Increases the armor reduced by your Expose Armor ability by 50%.
        </span>
    </article>
</section>
