@*@for (int i = 1; i <= 8; i++)
    {
        if (i == 1 || i == 5)
        {
        @:<section class="raidgroup__group-container">
        }

        <section class="raidgroup__group">
            <h4 class="raidgroup__group-index">
                Group @i
                <img class="raidgroup__draenei-icon raidgroup__draenei-icon--disabled" src="~/images/RaidBuffs/race_draenei_female.jpg" />
            </h4>
            <section class="raidgroup__group-container">
                <article class="raidgroup__slots">
                </article>
            </section>
            @if (i == 4 || i == 8)
            {
            @:</section>
        }
        </section>
    }*@

@model int 

<section class="raidgroup__group">
    <h4 class="raidgroup__group-index">
        Group @Model
        <img class="raidgroup__draenei-icon raidgroup__draenei-icon--disabled" src="~/images/RaidBuffs/race_draenei_female.jpg" />
    </h4>
    <section class="raidgroup__group-container">
        <article class="raidgroup__slots">
        </article>
    </section>
</section>