@model WoW_Guild_Tools.Models.RaidGroup

@{
    ViewData["Title"] = "Edit RaidGroups";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)

    <label asp-for="RaidDay" class="control-label"></label>
    <input asp-for="RaidDay" class="form-control" />
    <span asp-validation-for="RaidDay" class="text-danger"></span>
    @*<label asp-for="LastUpdated" class="control-label"></label>
        <input asp-for="LastUpdated" class="form-control" />
        <span asp-validation-for="LastUpdated" class="text-danger"></span>*@
    <input type="submit" value="Save" class="btn btn-primary" />
</form>

<a asp-action="Index">Back to List</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
