@model WoW_Guild_Tools.Models.ViewModels.CreateEditRaiderViewModel
@{
    if (Model != null && Model.MainRaiders != null)
    {
        ViewData["Title"] = "Add alt";
    }
    else
    {
        ViewData["Title"] = "Add raider";
    }
}
    <form class="roster-create" asp-action="Create">
        <section asp-validation-summary="ModelOnly" class="validation__error">
            <section class="roster-create__form-line">
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Name"></label>
                    <input placeholder="Name" asp-for="Raider.Name" />
                    <span asp-validation-for="Raider.Name" class="validation__error"></span>
                </article>
                @if (Model != null && Model.MainRaiders != null)
                {
                    <article class="roster-create__form-group">
                        <label asp-for="Raider.MainId"></label>
                        <select asp-for="Raider.MainId" class="select--search">
                            <option value="0">
                                Select main
                            </option>
                            @foreach (Raider raider in Model.MainRaiders)
                            {
                                <option value="@raider.Id">@raider.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Raider.MainId" class="validation__error"></span>
                    </article>
                }
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Race"></label>
                    <select class="select--search"
                            asp-for="Raider.Race"
                            asp-items="Html.GetEnumSelectList<WowRace>()">
                    </select>
                    <span asp-validation-for="Raider.Race" class="validation__error"></span>
                </article>
            </section>
            <section class="roster-create__form-line">
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Class"></label>
                    <select class="select--search"
                            asp-for="Raider.Class"
                            asp-items="Html.GetEnumSelectList<WowClass>()">
                    </select>
                    <span asp-validation-for="Raider.Class" class="validation__error"></span>
                </article>
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Spec"></label>
                    <select class="select--search"
                            asp-for="Raider.Spec"
                            asp-items="Html.GetEnumSelectList<WowSpec>()">
                    </select>
                    <span asp-validation-for="Raider.Spec" class="validation__error"></span>
                </article>
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Role"></label>
                    <select asp-for="Raider.Role"
                            asp-items="Html.GetEnumSelectList<WowSpecRole>()">
                    </select>
                    <span asp-validation-for="Raider.Role" class="validation__error"></span>
                </article>
            </section>
            <section class="roster-create__form-line">
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Rank"></label>
                    <select asp-for="Raider.Rank"
                            asp-items="Html.GetEnumSelectList<WowRaiderRank>()">
                    </select>
                    <span asp-validation-for="Raider.Rank" class="validation__error"></span>
                </article>
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Profession1"></label>
                    <select class="select--search"
                            asp-for="Raider.Profession1"
                            asp-items="Html.GetEnumSelectList<WowProfession>()">
                    </select>
                    <span asp-validation-for="Raider.Profession1" class="validation__error"></span>
                </article>
                <article class="roster-create__form-group">
                    <label asp-for="Raider.Profession2"></label>
                    <select class="select--search"
                            asp-for="Raider.Profession2"
                            asp-items="Html.GetEnumSelectList<WowProfession>()">
                    </select>
                    <span asp-validation-for="Raider.Profession2" class="validation__error"></span>
                </article>
            </section>
            @*<input type="checkbox" asp-for="IsAlt" />
                @if (Model.IsAlt)
                {

                        <label asp-for="MainId"></label>
                        <input asp-for="Main"/>

                }*@
            <section class="roster-create__form-line roster-create__buttons">
                <button type="submit" asp-action="Create" class="roster-create__add-raider button button--success button--icon">
                    Add raider to roster
                </button>
                <a class="roster-create__cancel button button--warning button--icon" asp-action="Index">Cancel</a>
            </section>
        </section>
    </form>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
