@model WoW_Guild_Tools.Models.Raider
@{
    ViewData["Title"] = "Add raider";
}
<form class="roster-create" asp-action="Create">
    <section asp-validation-summary="ModelOnly" class="validation__error">
        <section class="roster-create__form-line">
            <article class="roster-create__form-group">
                <label asp-for="Name"></label>
                <input placeholder="Name" asp-for="Name" />
                <span asp-validation-for="Name" class="validation__error"></span>
            </article>
            <article class="roster-create__form-group">
                <label asp-for="Race"></label>
                <select class="select--search"
                        asp-for="Race"
                        asp-items="Html.GetEnumSelectList<WowRace>()">
                </select>
                <span asp-validation-for="Race" class="validation__error"></span>
            </article>
        </section>
        <section class="roster-create__form-line">
            <article class="roster-create__form-group">
                <label asp-for="Class"></label>
                <select class="select--search"
                        asp-for="Class"
                        asp-items="Html.GetEnumSelectList<WowClass>()">
                </select>
                <span asp-validation-for="Class" class="validation__error"></span>
            </article>
            <article class="roster-create__form-group">
                <label asp-for="Spec"></label>
                <select class="select--search"
                        asp-for="Spec"
                        asp-items="Html.GetEnumSelectList<WowSpec>()">
                </select>
                <span asp-validation-for="Spec" class="validation__error"></span>
            </article>
            <article class="roster-create__form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role"
                        asp-items="Html.GetEnumSelectList<WowSpecRole>()">
                </select>
                <span asp-validation-for="Role" class="validation__error"></span>
            </article>
        </section>
        <section class="roster-create__form-line">
            <article class="roster-create__form-group">
                <label asp-for="Rank"></label>
                <select asp-for="Rank"
                        asp-items="Html.GetEnumSelectList<WowRaiderRank>()">
                </select>
                <span asp-validation-for="Rank" class="validation__error"></span>
            </article>
            <article class="roster-create__form-group">
                <label asp-for="Profession1"></label>
                <select class="select--search"
                        asp-for="Profession1"
                        asp-items="Html.GetEnumSelectList<WowProfession>()">
                </select>
                <span asp-validation-for="Profession1" class="validation__error"></span>
            </article>
            <article class="roster-create__form-group">
                <label asp-for="Profession2"></label>
                <select class="select--search"
                        asp-for="Profession2"
                        asp-items="Html.GetEnumSelectList<WowProfession>()">
                </select>
                <span asp-validation-for="Profession2" class="validation__error"></span>
            </article>
        </section>
        @*<input type="checkbox" asp-for="IsAlt" />
            @if (Model.IsAlt)
            {

                    <label asp-for="MainId"></label>
                    <input asp-for="Main"/>

            }*@
        <section class="roster-create__form-line roster-create__buttons">
            <button type="submit" asp-action="Create" class="roster-create__add-raider button button--success button--icon">
                Add raider to roster
            </button>
            <a class="roster-create__cancel button button--warning button--icon" asp-action="Index">Cancel</a>
        </section>
    </section>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
