/*$classSpecIconSizes: (
  56,
  32,
  16
);

$classSpecBackgroundUrls: (
  '~/images/classic-classes-specs-56.jpg',
  '~/images/classic-classes-specs-32.jpg',
  '~/images/classic-classes-specs-16.jpg'
);*/

$classSpecIconSize: 56;
/*$classSpecIconMediumSize: 28;
$classSpecIconSmallSize: 14;*/
/*$classSpecBackgroundUrl56: url('../images/classic-classes-specs-56.jpg');
$classSpecBackgroundUrl32: url('../images/classic-classes-specs-32.jpg');
$classSpecBackgroundUrl16: url('../images/classic-classes-specs-16.jpg');*/
$classSpecBackgroundUrl: url(https://static.wow.weibel.dev/classic/custom/classic-classes-specs.png);
$classPosition: 0;
$specPosition: -$classSpecIconSize;
$wowClassesSpecList: (
    druid: (balance, feralcombat, restoration),
    hunter: (beastmastery, marksmanship, survival),
    mage: (arcane, fire, frost),
    paladin: (holy, protection, retribution),
    priest: (discipline, holy, shadow),
    rogue: (assassination, combat, sublety),
    shaman: (elemental, enhancement, restoration),
    warlock: (affliction, demonology, destruction),
    warrior: (arms, fury, protection) 
);
