$raceIconSize: 64;
$racePositionY: 0;
$racePositionX: 0;
$raceIconsBackgroundUrl: url(https://static.wow.weibel.dev/classic/interface/glues/charactercreate/ui-charactercreate-races.png);
$raceIcons: human-male, dwarf-male, gnome-male, nightelf-male, tauren-male, undead_player-male, troll-male, orc-male;
