$raidMarkerIconSize: 64;
$raidMarkerPositionY: 0;
$raidMarkerIconsBackgroundUrl: url(https://static.wow.weibel.dev/classic/custom/raid-marker-icons.png);
$raidMarkers: moon, square, cross, skull, star, circle, diamond, triangle;
