* {
  box-sizing: border-box;
}

body {
  background: $darkColor;
  color: $bodyTextColor;
  min-height: calc(100vh - #{$footerHeight} );
}

.main {
  @include grid-container();

  &__content {
    @include grid-container(12);
    @include grid-column(10);
    padding: 32px 32px 32px 0;
  }
}
