* {
  box-sizing: border-box;
}

body {
  background: $darkColor;
  color: $bodyTextColor;
  min-height: calc(100vh - #{$footerHeight} );
}

.main {
  @include grid-container();

  &__title {
    @include grid-column(12);
  }

  &__content {
    @include grid-container(12);
    @include grid-column(10);
    grid-template-rows: auto 1fr;
    padding: 16px 32px 32px 0;
  }
}

.d-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
