/// <reference path="../_base/_variables.scss" />

/*@mixin section-margin($top : $defaultSectionTopMargin, $right: $defaultSectionRightMargin, $bottom: $defaultSectionBottomMargin, $left: $defaultSectionLeftMargin) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}*/

/*@mixin container() {
    max-width: 1440px;
    @include section-margin();
    z-index: 0;
}*/

/*@mixin container-padding {
    padding-right: $containerPadding-lg;
    padding-left: $containerPadding-lg
}*/