.roster {
  @include grid-container();
  @include grid-column(12);

  &__characters {
    @include grid-column(6);

    .roster__header {
      padding: 16px 0;
      position: sticky;
      top: 0;
      z-index: 2;
      background: $darkColor;
    }
  }

  &__overview {
    @include grid-column(6);

    .roster {
      &__spec-overviews {
        position: sticky;
        top: 0;
      }

      &__header {
        padding: 16px 0;
      }

      &__class-graphs {
        display: inline-flex;
        justify-content: space-around;

        .class-graph {
          &__title {
            margin-bottom: 16px;
          }

          /* Image is placeholder! */
          &__graph {
            max-width: calc(100% - 16px);
            height: auto;
          }
        }
      }
    }
  }

  &__spec {
    &-tables {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  &__mains,
  &__alts {
    .table {
      thead {
        top: 60px;
      }

      width: 100%;

      tbody tr:hover {
        background-color: $darkHoverColor;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    height: 32px;
  }

  &__add-raider {
    &:before {
      content: "person_add";
    }
  }

  &__options {
    display: flex;
    justify-content: space-around;

    a:first-of-type {
      margin-right: 8px;
    }
  }

  &__btn {
    &--edit {
      &:before {
        content: "edit";
      }
    }

    &--delete {
      &:before {
        content: "delete";
      }
    }
  }
}
