@{
    ViewData["Title"] = "Dashboard";
}
<article class="index">
    <p>
        Navigate to the tools by using the menu on the left
        <br />
        This page should explain the purpose of the page.
        <br />
        <br />
        Have some lorem ipsum for now:
        <br />
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
</article>