.table {
  border-collapse: collapse;
  // Fix FireFox table in flex bug
  // defaults to max content which makes the first row in tbody grow out of proportion
  // and overlap with the thead. Problem only occurs if there's only -1- row in tbody ¯\_(ツ)_/¯
  height: min-content;

  thead {
    background: #3A3F44;

    tr {
      height: 40px;
    }

    th {
    }
  }

  tbody {
    tr {
      height: 32px;
    }
  }

  tr {

    th, td {
      border: 2px solid #aaa;
      padding: 8px;
    }
  }
}
