/* #region Class Colors*/
$wowClasses: (
  "deathknight": $deathKnightClassColor,
  "demonhunter": $demonHunterClassColor,
  "druid": $druidClassColor,
  "hunter": $hunterClassColor,
  "mage": $mageClassColor,
  "monk": $monkClassColor,
  "paladin": $paladinClassColor,
  "priest": $priestClassColor,
  "rogue": $rogueClassColor,
  "shaman": $shamanClassColor,
  "warlock": $warlockClassColor,
  "warrior": $warriorClassColor
);

@each $wowClass, $wowClassColor in $wowClasses {
  .#{$wowClass} {
    &-text {
      color: $wowClassColor;
    }

    &-bg {
      background-color: $wowClassColor !important;
    }

    &-border {
      border-color: $wowClassColor !important;
    }
  }
}

/* #endregion Class Colors*/
